#---------------------------------------------
version: "3.3"

#create  network
networks:               
  my-network:
    driver: bridge

volumes:
  my-db:
#  h2g-wp:
#---------------------------------------------
services:
# name of services 1
  my-database:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: my_strong_password
      MYSQL_PASSWORD: my_strong_password
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: username 
    volumes:
      - my-db:/var/lib/mysql
    ports:
      - "6306:3306"
    networks:
      - my-network

#---------------------------------------------
# name of services 2
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    environment:
      PMA_HOST: my-database
    ports:
      - "8080:80"
    networks:
      - my-network

#----------------------------------------------
#END-------------------------------------------
